
#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    width: 10px;
    height: 10px;
}

.box:hover {
    background-color: black;
}

.top {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
